#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


section{
  display: grid;
  grid-gap: 0.5;
  padding: 2rem;

}
article{
  background-color: black;
  color: white;
  padding: 1rem;
}
@media screen and (min-width: 600px) {
  section{
    grid-template-columns: auto auto;
  }
  
}
@media screen and (min-width: 740px) {
  section{
    grid-template-columns: auto auto auto;
  }
  
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
